{% extends "base.html" %}

{% block content %}
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Mortgage Calc</h1>
          <h2>Welcome to Mortgage Calc</h2>
        </div>
      </div>
      <a href="{% url 'submitformdata' %}" class="w3-btn w3-black">Calc loan monthly payment and list of payments</a>
      <br/>
      <br/>
      <a href="{% url 'submitformdata_number_payments' %}" class="w3-btn w3-black">Calc number of payments</a>
    </div>
  </main>
{% endblock content %}
