{% extends "mortgage_calculator/index.html" %}
{% load crispy_forms_tags %}

{% block content %}
  {% crispy form %}

{#  <form action="" method="post">#}
{#	  {% csrf_token %}#}
{##}
{##}
{##}
{#	  {% for element in form %}#}
{#      {% if forloop.counter == 0 %}#}
{##}
{##}
{#      {% endif %}#}
{#      <div class="row">#}
{##}
{##}
{#      {% if forloop.counter|divisibleby:2 %} <section>{% endif %}#}
{##}
{#        {{element.help_text}}#}
{##}
{#        <div class="col-6 ">#}
{#          {{element.label}}#}
{#          {{element}}#}
{#        </div>#}
{##}
{##}
{#      </div>#}
{##}
{#	  {% endfor %}#}
{##}
{#	  <br/>#}
{#	  <input type="submit" name="totals" value="Submit"/>#}
{#    <input type="submit" name="lists" value="Get Lists"/>#}
{#  </form>#}

{% endblock content %}