{% extends "mortgage_calculator/index.html" %}

{% block content %}
  <h1>RESULT:</h1>
  {% if number_payments_true %}
    Name: {{ name }}
    <br/>
    Loan value: {{ loan_amount }} €
    <br/>
    Number of payments: {{ number_payments }}
    <br/>
    Value for the interest: {{ loan_interest }} %
    <br/>
    Monthly Payment: {{ loan_monthly_payment }} €
  {% else %}
    Name: {{ name }}
    <br/>
    Loan value: {{ loan_amount }} €
    <br/>
    Time for loan payment: {{ time }} years
    <br/>
    Payment period: {{ payment_period }}
    <br/>
    Value for the interest: {{ loan_interest }} %
    <br/>
    Monthly Payment: {{ result }} €
  {% endif %}
{% endblock %}


